<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#24292e">
    <title>Kottans Front End 2017</title>
    <link rel="icon" sizes="192x192" href="icon.png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
<div class="forVue" id="resourceGetContainer">
        <i v-show="loading" class="fa fa-spinner fa-spin fa-5x"></i>
        <header class="top" id="searchform">
            <div class="search">
                <label for="userName" class="headLogo">
                    <a href="index.html" class="logo">
                        <svg aria-hidden="true" class="svgLogo" version="1.1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    </a> 
                    </label>
                    <form class="search-input" target="_self" method="get">
                        <input type="text" id="userName" placeholder="Name" name="q" v-model="putUserName" @keyup.enter="loadRepositories" tabindex=1>
                        <button class="btn btn-searching" type="button" aria-expanded="false" formaction="" :disabled="loading" @click="loadRepositories" tabindex=2>
                        <!--formaction - где искать //google.com/search -->
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                    <div class="filterssorting">
                        <div class="filters">
                            <button class="btn btn-filter" type="button" aria-haspopup="true" aria-expanded="false" tabindex=3><span class="btn-span">Filters</span>
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            </button>
                            <div class="filters-menu">
                                <div class="selected">
                                    <div class="top-menu">
                                        <span>Select</span>
                                        <svg aria-label="Close" class="menu-close" height="16" role="img" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                                    </div>
                                    <div class="menu-list">
                                        <div class="issue">
                                            <input class="checkboxThree" type="checkbox" id="issue" name="issue" value="issue">
                                            <label for="issue"><span></span>Has open issue</label>
                                        </div>
                                        <div class="topics">
                                            <input type="checkbox" id="topics" name="topics" value="topics">
                                            <label for="topics"><span></span>Has topics</label>
                                        </div>
                                        <div class="starred">
                                            <input type="checkbox" id="starred" name="starred" value="starred">
                                            <label for="starred"><span></span>Has 
                                            <input type="number" id="otherValue" name="starred" step="1" min="0" max="10000">
                                            starred</label>
                                        </div>
                                        <div class="update">
                                            <input type="checkbox" id="update" name="update" value="update">
                                            <label for="update"><span></span>Updated after</label>
                                            <input type="date" id="date" type="date">
                                        </div>
                                        <div class="type">
                                              <label>Types</label>
                                            <label><input type="radio" v-model="selectedCategory" value="All" />
                                            <span></span> All</label>
                                           	<label><input type="radio" v-model="selectedCategory" value="fork" /><span></span> Forks</label>
                                       		<label><input type="radio" v-model="selectedCategory" value="sourse" /><span></span> Sources</label>

                                        </div>
                                        <div class="language">
                                            <label>Language</label>
                                            <label><input type="radio" v-model="selectedCategory" value="All" />
                                            <span></span> All</label>

                                       		<label v-for="lang in langs"><input type="radio" v-model="selectedCategory" value="{{lang}}" /><span></span> {{lang}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sorting">
                            <button class="btn btn-sorting" type="button" aria-haspopup="true" aria-expanded="false" tabindex=4><span class="btn-span">Sorting</span>
                            <i class="fa fa-sort" aria-hidden="true"></i>
                            </button>
                            <div class="sorting-menu">
                                <div class="selected">
                                    <div class="top-menu">
                                        <span>Select</span>
<!--                                        <button @click="reverse">down</button>-->
                                        <svg aria-label="Close" class="menu-close" height="16" role="img" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                                    </div>
                                    <div class="menu-list" v-for="column in columns">
                                       <a href="#" @click="sortBy(column)" v-class="{ 'active' : sortKey == column}" ><i class="fa fa-sort" aria-hidden="true"></i>
                                       </a>
                                    </div>
                                        <div class="xz">
                                            <div class="repo">
                                            <!--                                            <input type="radio" id="repo" name="sort" value="repo" @click="sort"> первая версия сортировки по имени-->
                                                <input type="radio" id="repo" name="sort" value="repo">
                                                <label for="repo"><span></span>Repo name</label>
                                            </div>
                                            <div class="issues-count">
                                                <input type="radio" id="issues-count" name="sort" value="issues-count">
                                                <label for="issues-count"><span></span>Open issues count</label>
                                            </div>
                                            <div class="stars-count">
                                                <input type="radio" id="stars-count" name="sort" value="stars-count">
                                                <label for="stars-count"><span></span>Stars count</label>
                                            </div>
                                            <div class="update-date">
                                                <input type="radio" id="update-date" name="sort" value="update-date">
                                                <label for="update-date"><span></span>Updated date</label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </header>    
        <main class="container">
            <ul class="repo-list">
               <span class="error" v-html="HTMLcontent"></span>
                <li id="dialog" class="card" itemprop="owns" itemscope="" itemtype="http://schema.org/Code" v-for="repo in filteredRepos | filterBy searchKey | orderBy sortKey reverse">
                    <div id="show-modal" @click="modalOpen($index)">
                        <div class="repoName">
                            <h3>{{repo.name}}</h3>
<!--                            <img v-bind:src="repo.owner.avatar_url" alt=""> аватар-->
                            <span v-show="!repo.fork">Repo</span>
                            <span v-show="repo.fork">Fork</span><br>
                        </div>
                        <div class="description">
                            <p>{{repo.description}}</p>
                        </div>
                        <div class="otherDescription">
                            <span class="colorLang {{repo.language}}"></span>
                            <span class="{{repo.language}}">{{repo.language}}</span>
                            <span class="stars">
                                <svg class="colorSvg" aria-label="star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                                {{repo.stargazers_count}}
                            </span>
                            <span class="forks">
                                <svg aria-label="fork" class="colorSvg" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                                {{repo.forks_count}}
                            </span>
                           <span class="openIssue">
                               <svg aria-hidden="true" class="colorSvg" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
                            {{repo.open_issues_count}}
                           </span>
                            <span class="date">Updated on
                                <time title="datetime">{{ repo.updated_at | moment }}</time>
                            </span>
                        </div>
                    </div>
                    <my-repo :show.sync="showModal" :repolist="repos" :active.sync="active"></my-repo>
                </li>
            </ul>
            <!-- modal dialog -->
            <template id="repo-info">
                <div  class="modal-mask" v-show="show" transition="modal" aria-hidden="true" role="dialog" aria-labelledby="modalTitle" aria-describedBy="modalDescription" style="border: 2px solid black;">
                    <div class="modal-container">
                            <div class="repo-item" v-for="repo in repolist" v-if="modalActiveContent($index)">
                                <h3><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h3>
                                <p>{{repo.description}}</p>
                             <button v-if="modalActiveContent($index)" class="modal-default-button"
                                      @click="setModalClose">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            </div>
                    </div>
              </div>
            </template>
        </main>
        <footer></footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c9a3b4e204.js"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="vue-resource-repos.js"></script>
<script src="scripts.js"></script>
</body>
</html>
